body {
    position: relative;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hide {
    display: none !important;
}

.appear {
    display: flex !important;
}

.show {
    display: block !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEAD */

#head {
    height: 220px;
}

.head__container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #fff;
}

.head__greeting-list {
    height: 60px;
}

.head__greeting-items {
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting-items-icon {
    font-size: 18px;
}

.greeting-items-icon > i {
    color: var(--primary-color);
}

.greeting-items-text {
    padding: 0 0 0 10px;
    font-size: 15px;
}

.head__box-bg {
    position: fixed;
    top: 6.4%;
    right: 0;
    left: 0;
    z-index: 999;
    height: 115px;
    background-image: url("../imgs/head__background.png");
}

.head__box {
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 100%;
}

.head__left-box {
    display: flex;
    align-items: center;
}

.head__logo .head__logo-link {
    display: block;
}

.head__right-box {
    display: flex;
    align-items: center;
}

.head__input {
    width: 500px;
    margin: 0 0 0 50px;
    position: relative;
}

.head__input .head__input-search {
    width: 100%;
    padding: 13px 65px 13px 8px;
    border: none;
}

.head__input .head__search-icon {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    text-align: center;
    line-height: 41px;
    background-color: #eae4e4;
    cursor: pointer;
    transition: .2s ease;
}

.head__input .head__search-icon:hover {
    color: #fff;
    background-color: var(--primary-color);
}

.right__country-box {
    position: relative;
    transition: 2s ease;
    margin: 0 20px 0 0;
}

.right__country-img-box {
    width: 16px;
}

.right__country-img {
    width: 100%;
}

.right__country-text {
    padding: 0 5px;
    text-decoration: none;
    color: #fff;
}

.right__country-text:hover {
    text-decoration: underline;
}


.right__country-sub-box {
    position: absolute;
    /* display: flex; */
    align-items: center;
    display: none;
    bottom: -130%;
    left: 0;
    width: 100%;
    background: #fff;
    height: 24px;
    border-radius: 3px;
}

.right__country-box::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    background-color: transparent;
    bottom: -30%;
    right: 0;
}

.right__country-box:hover .right__country-sub-box {
    display: flex;
}

.right__country-sub-el {
    width: 16px;
    line-height: 20px;
    margin: 0 0 0 5px;
}

.right__country-sub-text {
    text-decoration: none;
    color: #000;
    padding: 0 0 0 5px;
    font-size: 12px;
    line-height: 24px;
}

.right__country-img-el {
    width: 100%;
}

.right__country-icon {
    cursor: pointer;
}

.right__country-box,
.right__login-box {
    color: #fff;
}

.right__country-box,
.right__login-box, 
.right__cart-box {
    display: flex;
    align-items: center;
    font-size: 18px;
}

.right__login-sub-box {
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 10px;
}

.right__login-login {
    color: #fff;
    text-decoration: none;
}

.right__login-login:hover {
    text-decoration: underline;
}

.right__cart-box {
    position: relative;
    padding: 0 10px;
    height: 35px;
    background-color: #fff;
    border-radius: 3px;
    cursor: pointer;
}

.right__cart-list-item {
    position: absolute;
    background-color: #fff;
    width: 150%;
    height: 60px;
    left: 0;
    display: none;
    top: 110%;
    z-index: 999;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right__cart-item {
    color: #000;
    font-size: 12px;
    padding: 10px 5px;
}

.show {
    display: block;
}

.right__cart-icon,
.right__cart-text {
    text-decoration: none;
    text-transform: uppercase;
    color: var(--text-color);
}

.right__cart-icon {
    padding: 0 10px 0 0;
}

.menu {
    position: absolute;
    left: 50%;
    z-index: 900;
    width: 100%;
    bottom: 0;
  }
  
.menu label {
    cursor: pointer;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #fff;
    border-radius: 50px;
    margin: 0 .2em 1em;
    transition: all .3s ease;
  }

.menu label:hover {
    background-color: red;
  }
  
  /* .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 10;
    padding: 8em 1em 0;
    background-size: cover;
    background-position: 50% 50%;
    transition: left 0s .75s;
    animation: ripple 2s;
  }
  
  [id^="slide"]:checked + .slide {
    left: 0;
    z-index: 100;
    transition: left .65s ease-out;
  }
  
  .slide-1 {
    background-image: url("/imgs/food-slider_4.jpg");
  }
  .slide-2 {
    background-image: url("/imgs/food-slider.jpg");
  }
  .slide-3 {
    background-image: url("/imgs/food-slider_4.jpg");
  } */

.nav__box {
    position: absolute;
    top: 100%;
    width: 240px;
    background-color: #fff;
    left: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 2;
}

.nav__box:hover .nav__list {
    visibility: visible;
    opacity: 1;
}

.nav__list {
    position: absolute;
    width: 100%;
    list-style: none;
    transition: all .3s ease;
    opacity: 0;
    visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.hidden {
    display: none;
    transition: all 1s ease;
}

.nav__list-title {
    background-color: #338b33;
    display: flex;
    padding: 10px;
    align-items: center;
    color: #fff;
}

.nav__list-open {
    font-size: 18px;
    padding: 0 8px 0 10px;
    cursor: pointer;
}

.nav__list-open:hover {
    color: var(--text-color);
}

.nav__list-close {
    font-size: 18px;
    padding: 0 8px 0 10px;
    cursor: pointer;
}

.nav__list-close:hover {
    color: var(--text-color);
}

.nav__list-text {
    font-size: 16px;
    text-transform: uppercase;
}

.nav__list li {
    padding: 10px;
    border: 1px solid #f2e6e6;
    transition: .1s ease;
    background-color: #fff;
}

.nav__list li:hover {
    background-color: #f1e6e6;
    border-left-width: 3px;
    border-left-color: var(--text-color);
}

.nav__list li:hover .nav__list-link{
    color: var(--text-color);
}

.nav__list .nav__list-icons {
    color: var(--text-color);
    padding: 0 8px 0 0;
    display: inline-block;
}

.nav__list-icons i {
    font-size: 20px;
}

.nav__list .nav__list-link {
    text-decoration: none;
    font-size: 14px;
    color: #555555;
    line-height: 18px;
    text-transform: capitalize;
}


.content__top-wrap {
    position: absolute;
    top: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ede6e6;
}

.content__top-home, 
.content__products-infor {
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
    line-height: 44px;
}

.content__top-home {
    text-decoration: none;
    padding-right: 20px;
}

.content__top-home:hover {
    color: var(--text-color);
}

.content__products-infor {
    position: relative;
    padding-left: 10px;
}

.content__products-infor::after {
    position: absolute;
    content: "";
    border-left: 1px solid #c5c4c4;
    height: 40%;
    right: 105%;
    top: 30%;
}

/* CONTENT */
#content {
    
}

#content__wrapper {
    margin-top: 50px;
}

.content__products-wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 6%;
    overflow: hidden;
}

.content__left-wrapper {
    
}

.content__right-wrapper {
    margin: 0 0 40px 0;
}

.content__left-menu {
    text-transform: uppercase;
    padding-bottom: 16px;
    margin-bottom: 25px;
    border-bottom: 1px solid #c5c4c4;
}

.content__left-list-wrapper {
    background-color: #fff;
    margin-top: 15px;
}

.content__left-nav .content__left-list {
    padding: 10px 0;
    list-style: none;
}

.content__left-list-js1,
.content__left-list-js2,
.content__left-list-js3 {
    display: none;
}

.content__left-list a {
    text-decoration: none;
    color: #000;
    transition: all .1s ease-in-out;
}

.content__left-list a:hover,
.content__left-list-title:hover {
    color: var(--text-color);
}

.content__left-list li {
    padding: 8px 28px;
}

.content__left-list-title {
    display: inline-block;
    color: #000;
    text-decoration: none;
}

.content__left-list-title i {
    font-size: 10px;
    float: right;
    padding-right: 30px;
    line-height: 18px;
}

.content__left-title-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__left-title-icon {
    transition: all .2s ease;
    font-size: 14px;
}

.content__left-title-icon:hover {
    color: var(--text-color);
    cursor: pointer;
}

.hidden__nav {
    display: block !important;
}

.toggle__nav {
    transform: rotate(180deg);
}

.content__left-key-box {
    margin: 50px 0;
}

.content__left-key {
    text-transform: uppercase;
    padding-bottom: 16px;
    margin-bottom: 15px;
    border-bottom: 1px solid #c5c4c4;
    cursor: pointer;
    transition: .2s ease;
}

.content__left-key:hover {
    color: var(--text-color);
}

.content__left-nav_input-box {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
}

.content__left-key-input {
    width: 100%;
    padding: 8px 5px;
    border: 1px solid #c5c4c4;
}

.content__left-key:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 12px;
    color: #000;
    float: right;
    margin-left: 5px;

}

.content__left-range-box {
    overflow: hidden;
    max-height: 0;
    transition: max-height .3s ease-out;
}

.content__left-price-max {
    float: right;
}

input[id="input-range"] {
    display: block;
    width: 100%;
    margin: 10px 0 40px 0;
}

.content__left-range-ic {
    float: right;
    cursor: pointer;
}


/* Collapsibles: Thanh nav */
.content__left-nav_btn {
    color: #000;
    cursor: pointer;
    background-color: transparent;
    padding: 12px 0px 12px 0;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: all .1s ease-out;
}

.content__left-nav_btn:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 10px;
    color: #000;
    float: right;
    margin-left: 5px;
}

.content__left-nav_btn:hover {
    color: var(--text-color);
}
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.content__left-nav_prduct-list {
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
}

.content__left-nav_prduct-item {
    padding: 5px 0 15px 22px;
    display: block;
    text-decoration: none;
    color: #000;
}

.content__left-nav_prduct-item:hover {
    color: var(--text-color);
}

.content__left-status-box {
    margin: 50px 0;
}

.content__left-status:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 12px;
    color: #000;
    float: right;
    margin-left: 5px;
}

.content__left-status:hover {
    color: var(--text-color);
    cursor: pointer;
}

.content__left-status {
    text-transform: uppercase;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #c5c4c4;
    transition: .2s ease;
}


input[name="status-input"] {
    margin: 20px 0;
}

.content__left-status_input-box label {
    transition: all .2s ease;
    cursor: pointer;
}

.content__left-status_input-box label:hover {
    color: var(--text-color);
}

.content__left-status_input-wrapper {
    /* border-bottom: 1px solid #d8d2d2; */
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
}

.minus:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.content__left-origin {
    text-transform: uppercase;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #c5c4c4;
    cursor: pointer;
    transition: .2s ease;
}

.content__left-origin:hover {
    color: var(--text-color);
}

.content__left-origin:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 12px;
    color: #000;
    float: right;
    margin-left: 5px;
}

.origin-minus:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.content__left-country-box {
    margin-top: 25px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .3s ease-out;
}

.content__left-country-box label {
    cursor: pointer;
    font-size: 15px;    
    padding: 0 2px;
}

.content__left-country-box label:hover {
    color: var(--text-color);
}

.content__left-country-input {
    cursor: pointer;
}

.content__left-country-wrapper {
    padding: 10px 0;
}

.content__left-reset-btn {
    padding: 10px 0;
    background-color: var(--text-color);
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: .1s ease;
}

.content__left-reset-btn:hover {
    opacity: .9;
}

.content__left-recomment-box {
    margin-top: 50px;
}

.content__left-recomment {
    text-transform: uppercase;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #c5c4c4;
    cursor: pointer;
    transition: .2s ease;
}


.content__left-recomment-list li {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding-bottom: 25px;
    border-bottom: 1px solid #eae1e1;
}

.content__left-recomment-list li:first-child {
    margin: 50px 0 0px 0;
}

.content__left-recooment-img {
    width: 30%;
    border: 1px solid #d1c5c5;
}

.content__left-recooment-img img {
    width: 100%;
}

.content__left-recooment-img a {
    display: block;
}

.content__left-recomment-infor {
    padding-left: 16px;
}

.content__left_infor-name {
    font-size: 18px;
    text-decoration: none;
    color: #000;
}

.content__left_infor-name:hover {
    color: var(--text-color);
}

.content__left_price-sale {
    padding: 6px 0;
    font-weight: 600;
    font-size: 20px;
    color: var(--text-color);
}

.content__left_price-prime {
    font-size: 16px;
    color: #6c6969;
    text-decoration: line-through;
}

/* content right */
.content__right-arrange-box {
    display: inline-block;
    width: 100%;
    padding-bottom: 8px;
    margin-bottom: 25px;
}

.content__right-arrange {
    float: right;
    padding: 6px 10px;
    width: 25%;
    font-size: 14px;
    border: 1px solid var(--primary-color);
}


.content__products-box {
    margin: 0 -15px 70px -15px;
    overflow: hidden;
}

.content__products-list {
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    transition: transform 0.4s ease-in-out;
}

.content__products-list li {    
    transition: .5s;
    padding: 0 15px;
}

.content__products-sub-box {
    position: relative;
    margin-bottom: 20px;
    transition: all .3s ease;
    border: 2px solid #e2dede;

}

.content__add-cart {
    position: absolute;
    transform-origin: left;
    transform: scaleX(0);
    background-color: var(--text-color);
    padding: 15px 35px;
    left: 15%;
    right: 15%;
    bottom: 50%;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease;
}

.content__add-cart:hover {
    color: #338b33;
}

.content__products-sub-box:hover .content__add-cart {
    transform: scaleX(1);
}

.content__products-sub-box:hover .content__products-img-box {
    opacity: .3;
}

.content__products-sub-box:hover {
    border: 2px solid var(--text-color);
}

.content__products-img-box {
    max-width: 265px;
    position: relative;
    cursor: pointer;
    transition: all .3s ease;
}

.content__products-sub-box::after {
    position: absolute;
    content: "HOT";
    padding: 6px 12px 6px 12px;
    background-color: rgb(255, 89, 0);
    right: 3%;
    top: 5%;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.sale-39::after {
    position: absolute;
    content: "-39%";
    padding: 6px 12px 6px 12px;
    background-color: rgb(255, 89, 0);
    right: 3%;
    top: 5%;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.sale-36::after {
    position: absolute;
    content: "-36%";
    padding: 6px 12px 6px 12px;
    background-color: rgb(255, 89, 0);
    right: 3%;
    top: 5%;
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.content__products-img {
    width: 100%;
}

.content__products-text {
    text-decoration: none;
    color: #000;
    padding-left: 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
}

.content__products-price-box {
    display: flex;
    padding: 12px 0 5px 15px;
    align-items: center;
}

.content__sale-price {
    font-size: 22px;
    font-weight: bold;
    padding-right: 5px;
    color: var(--text-color);
}

.content__prime-price {
    position: relative;
    font-size: 14px;
    color: #605757;
}

.content__prime-price::after {
    position: absolute;
    content: "";
    bottom: 0;
    border: 1px solid #605757;
    left: 0;
    right: 0;
    transform-origin: bottom left;
    transform: rotate(-15deg);
}

.content__products-icons-box {
    padding: 0 0 20px 15px;
    font-size: 12px;
    color: #f4df2b;
}

/* VEGETABLE - FRUII*/
.content__vegetable-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content__vegetable {
    position: relative;
    margin: 0 0 40px 0;
    padding: 40px 0 12px 0;
    font-size: 26px;
}

.content__vegetable::after {
    content: "";
    position: absolute;
    width: 30%;
    height: 5px;
    background-color: #96bd1a;
    bottom: 0;
    left: 0;
}

.content__vegetable-products-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    transition: transform 0.4s ease-in-out;
}

.content__vegetable-products-list li {    
    transition: .5s;
    padding: 0 15px;
}

.content__vegetable-seemore {
    text-decoration: none;
    color: #337ab7;
    font-size: 18px;
}

.content__vegetable-seemore i {
    color: #000;
}

/* MODAL */
#modal {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
    display: none;
    transition: all .3s ease;
}

.modal__block {
    position: sticky;
    width: 30vw;
    height: 20vh;
    border: 4px solid #aaa3a3;
    margin: 0 auto;
    top: 10%;
    background-color: #fff;
    transition: all .3s ease;
}

@keyframes modalOpen {
    0% {
        top: 0px;
        opacity: 0.2;
    };
    25% {top: 200px};
    75% {top: 50px};
    100% {
        top: 100px;
        opacity: 1;};
}


.modal__close {
    padding: 5px 8px 5px 8px;
    float: right;
    border: none;
    background-color: var(--text-color);
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    opacity: .9;
}

.modal__close:hover {
    opacity: 1;
}

.modal__main-block {
    display: grid;
    grid-template-columns: 0.8fr 2fr;
    margin: 20px;
    grid-gap: 12px;
    align-items: center;
}

.modal__left-box {
    max-width: 120px;
    border: 1px solid #ccc;
}

.modal__left-img {
    width: 100%;
    height: 100%;
    
}

.modal__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal__right-box {

}

.modal__right-name {
    font-family:sans-serif;
    font-size: 20px;
}

.modal__right-text {
    color: #5b5454;
    font-size: 13px;
    padding: 8px 0;
}

.modal__price-box {
    display: flex;
    padding: 0 0 8px 0;
    align-items: center;
}

.modal__sale-price {
    font-size: 18px;
    font-weight: bold;
    padding-right: 5px;
    color: var(--text-color);
}

.modal__sale-price > span {
    color: var(--text-color);
    font-weight: bold;
}

.modal__prime-price {
    position: relative;
    font-size: 12px;
    color: #605757;
}

.modal__prime-price::after {
    content: "";
    position: absolute;
    border: 1px solid #000;
    transform-origin: bottom left;
    opacity: .5;
    transform: rotate(-10deg);
    right: 0;
    left: 0;
    margin: 0 0 3px 0;
    bottom: 0;
}

.modal__cart-information {
    display: flex;

}

.modal__cart-btn-left > a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.modal__cart-btn-left {
    background-color: var(--text-color);
    padding: 8px 15px;
    margin-right: 20px;
    color: #fff;
    border: 1px solid var(--text-color);
    opacity: .9;
}

.modal__cart-btn-left:hover {
    opacity: 1;
    cursor: pointer;
    border: 1px solid orangered;
}

.modal__cart-btn-right {
    background-color: rgb(15, 156, 15);
    border: 1px solid rgb(15, 156, 15);
    opacity: .9;
    padding: 8px 15px;
}

.modal__cart-btn-right:hover {
    cursor: pointer;
    border: 1px solid rgb(1, 112, 1);
    opacity: 1;
}

.modal__cart-btn-icon {
    padding: 0 8px 0 0;
    font-size: 14px;
}

.modal__cart-btn-right > a {
    font-size: 14px;
    color: #fff;
    text-decoration: none;
}

.content__right-page-wrapper {
    text-align: center;
}

.content__right-page-back,
.content__right-page-one,
.content__right-page-two,
.content__right-page-next {
    padding: 8px 12px;
    color: #444;
    margin: 0 4px;
    font-weight: 600;
    border-radius: 3px;
    transition: .1s ease;
    text-decoration: none;
}

.content__right-page-back:hover,
.content__right-page-one:hover,
.content__right-page-two:hover,
.content__right-page-next:hover {
    color: #fff;
    background-color: #96bd1a;
    cursor: pointer;
}

.content__page--color {
    background-color: var(--primary-color);
    color: #fff;
}

.content__page-arrow--color {
    cursor: not-allowed;
    color: #c5c4c4;
}

.content__page-arrow--color:hover {
    cursor: not-allowed;
    background-color: unset;
    color: #c5c4c4;
}

/* FOOTER */

.footer__advice-list {
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr; */
    margin: 70px -20px;
    display: flex;
}

.footer__advice-item {
    /* display: grid;
    grid-template-columns: 1fr 4fr; */
    padding: 0 20px;
}

.footer__advice-img {
    width: 25%;
    float: left;
    padding: 0 0px 50px 0px;
}

.footer__advice-img img {
    width: 100%;
    height: 100%;
}

.footer__advice-text-box {
    margin-left: 110px;
}

.footer__advice-text {
    text-align: justify;
}

.footer__advice-title {
    text-decoration: none;
    color: #383838;
    font-size: 20px;
    font-weight: bold;
    display: block;
    padding-bottom: 10px;
}

.footer__bg-img {
    background-image: url("../imgs/bg_footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 75vh;
}

.footer__wrapper {
    padding-top: 80px;
}

.footer__wrapper-sub {
    display: flex;
    margin: 0 -50px;
}

.footer__infor-col-1,
.footer__infor-col-2,
.footer__infor-col-3,
.footer__infor-col-4 {
    padding: 0 50px;
    border-right: 1px solid #ddd;
}

.footer__infor-col-4 {
    border-right: none;
}

.footer__infor-logo {
    padding: 0 0 30px 0;
}

.footer__infor-logo img {
    max-width: 100%;
}

.footer__infor-logo a {
    display: block;
}

.footer__infor-logo-text {
    color: #929292;
    /* font-size: 16px; */
}

.footer__infor-logo-address {
    padding: 30px 0;
    display: flex;
    color: #929292;
}

.footer__infor-logo-phone {
    padding-bottom: 30px;
}

.footer__infor-logo-address span,
.footer__infor-logo-phone span,
.footer__infor-logo-email span {
    padding-right: 10px;
    color: var(--text-color);
}

.footer__infor-logo-phone a,
.footer__infor-logo-email a {
    text-decoration: none;
    color: #929292;
}

.footer__infor-logo-phone a:hover,
.footer__infor-logo-email a:hover {
    color: rgb(46, 46, 193);
}

.footer__infor-account {
    text-transform: uppercase;
    padding-bottom: 30px;
}

.footer__infor-account-list {
    list-style: none;
}

.footer__infor-account-list li {
    margin: 15px 0;
}

.footer__infor-account-list li > a {
    text-decoration: none;
    color: #929292;
    transition: .2s ease-in-out;
}

.footer__infor-account-list li > a:hover {
    text-decoration: underline;
    padding: 0 0 0 10px;
    color: var(--text-color);
}

.footer__infor-send {
    text-transform: uppercase;
    padding-bottom: 45px;
}

.footer__infor-input {
    position: relative;
    margin: 15px 0;
}

input[id="sendEmail"] {
    padding: 10px 8px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #d7cbcb;
    outline: none;
}

.footer__infor-col-4 h4 {
    padding-top: 30px;
}

.footer__infor-input span {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid;
    height: 100%;
    padding: 0 10px;
    border-radius: 3px;
    line-height: 39px;
    background-color: var(--primary-color);
    color: #fff;
    transition: .2s ease;
}

.footer__infor-input span:hover {
    background-color: #fff;
    color: var(--primary-color);
    cursor: pointer;
}

.footer__infor-social {
    padding-top: 20px;
    display: flex;
}

.footer__infor-social span {
    font-size: 20px;
    width: 45px;
    height: 45px;
    text-align: center;
    line-height: 45px;
    display: inline-block;
    border-radius: 5px;
    margin: 0 10px 0 0;
    z-index: 1;
}

.footer__infor-social span a {
    transition: .2s ease;
    color: #fff;
    display: block;
}

.footer__social-google,
.footer__social-twitter,
.footer__social-facebook,
.footer__social-instagram {
    background-color: #f4574c;
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.footer__social-google::before,
.footer__social-twitter::before,
.footer__social-facebook::before,
.footer__social-instagram::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 0;
    height: 100%;
    z-index: -1;
    background-color: #000;
    transform: skewX(35deg);
    transition: width 1s;
}

.footer__social-google:hover::before,
.footer__social-twitter:hover::before,
.footer__social-facebook:hover::before,
.footer__social-instagram:hover::before {
    width: 200%;
}

.footer__social-twitter {
    background-color: #4cd6f4;
}

.footer__social-facebook {
    background-color: #3b5999;
}

.footer__social-instagram {
    background-color: #f02315;
}

.footer__last-text {
    padding-top: 50px;
    color: #929292;
    text-align: right;
}

.footer__last-text span {
    color: var(--text-color);
    font-weight: 600;
}